/*style for  first image*/
.card{
    background-image: url(../images/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   padding: 200px 200px;
   text-align: center;
   font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
}
.first{
    color: white;
    font-family: 'Merriweather', serif;
font-family: 'Noto Sans', sans-serif;
}
h3{
 text-align: center;
}
.card2{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
}
/*style for second image*/
.card3{

    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 200px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    }
    h4{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
    }
    .foorm{
    background-image: url(../images/c_image.jpg); 
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 200px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    }
/*STYLES FOR FORM*/
    .form-control{
    background-color: transparent;
    border-radius: 0px;
    border-radius: 1px solid white;
    }
    #tete{
    background-color: transparent;
    border-radius: 0px;
    border-radius: 1px solid white; 
    color: white;   
 
    }
    ::placeholder{
    color:white;
    }
    .footer{
        text-align: center;
    }
    /*color for input*/
    .form-control{
        color:white;
    }
    .cons{
    display:show;
  }
    .first-icon{
        display: none;
    }
    .second-icon{
        display: none;
    }
    .third-icon{
        display: none;
    }
    /*style about hovering for image one*/ 
    .mgn{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #mgb{
        position: relative;
    }
    /*image2*/
    .paragraph2{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #mgc{
        position: relative;
    }
    /*image3*/
    .paragraph3{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #mgd{
        position: relative;
    }
    /*image4*/
    .paragraph4{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #mgE{
        position: relative;
    }
    /*image5*/
    .paragraph5{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #imgf{
        position: relative;
    }
    /*image6*/
    .paragraph6{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #imgG{
        position: relative;
    }
    /*image7*/
    .paragraph7{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #imgH{
        position: relative;
    }
    /*image8*/
    .paragraph8{
        position: absolute;
        padding-left: 80px;
        padding-top: 80px;
    }
    #imgI{
        position: relative;
    }
    
    
    

